.question-container{
    text-align: left;
    margin-top: 5%;
    padding-left: 10%;
}
th{
    color: blue;
    background-color: aquamarine;
    text-align: center;
    
}
table {
    border-collapse:collapse;
    margin-bottom: 50px;
}

table th,td {
    padding: 10px;
    border: 1px solid rgb(177, 177, 177);
}
